<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Score">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Score</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/score.css">
  </head>

  <body>

    <div class="container">

                                <div class=" text-center description"><h3>Время обработки заказа :</h3></div>
                                    <div class="text-center counters" ><h1 id="score" ></h1></div>
                                <div class=" text-center description"><h3>Не обработанных заказов :</h3></div>
                                    <div  class="text-center counters text-success"><h2 id="allNotConfirmed"></h2></div>
                                <div class="text-center description"><h3> Количество обработанных заявок за день :</h3></div>
                                    <div  class="text-center counters text-success"><h2 id="countToday"></h2></div>


    </div><!-- /.container -->



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <script>
        function getScores () {
         $.ajax({
            url: '/get_score',
            type: 'GET',
            dataType: 'json',
            success: function(response) {
                updateScores(response);
            },
            error: function(error) {
                console.log(error);
            }
         })
        }

        let updateScores = (dataScores) => {

            if (dataScores['score'] <= 7 ) {
                $("#score").addClass('text-success');
            }else if (dataScores['score'] >= 7 && dataScores['score'] <= 30 ) {
                $("#score").addClass('text-warning');
            }else {
                $("#score").addClass('text-danger');
            }

           $("#score").text(dataScores['score'] + ' мин.')
            $("#allNotConfirmed").text(dataScores['count_not_confirmed'])
            $("#countToday").text(dataScores['count_today'])
        };

        $(document).ready(
            getScores(),
            setInterval(getScores, 10000)
        );

    </script>

  </body>
</html>
